.services {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .services__tittle__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--black-color);
  }
  
  .services__h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--black-color);
  }
  
  .services__h2 .b {
    color: var(--primary-color-code);
    margin-right: 0.4rem;
  }
  
  .services__container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .parking,
  .junk,
  .graffiti,
  .pressure {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .parking,
  .graffiti {
    background-color: var(--white-color);
  }

  .junk, 
  .pressure{
    background-color: var(--black-color);
  }

  .parking__description,
  .junk__description,
  .graffiti__description,
  .pressure__description {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    justify-content: space-around;
    text-align: center;
  }
  
  .parking__h3,
  .junk__h3,
  .graffiti__h3,
  .pressure__h3 {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
  }
  
  .parking__h3,
  .graffiti__h3 {
    color: var(--black-color);
  }

  .junk__h3,
  .pressure__h3 { 
    color: var(--white-color);
  }
  
  .parking__text,
  .junk__text,
  .graffiti__text,
  .pressure__text {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
   
  .parking__text,
  .graffiti__text {
     color: var(--black-color);
  }

  .junk__text,
  .pressure__text {
    color: var(--white-color);
  }

  .gallery__container {
    height: auto;
    width: 72%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.9rem;
  }
  
  .gallery__item {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .gallery__img {
    width: 100%;
    height: 18.7rem;
    object-fit: cover;
    border-radius: 0.9rem;
  }
  
  .gallery__img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
   /* Image Visualizer */
  .image__visualizer {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    z-index: 101;
    overflow: hidden;
    user-select: none;
  }
  
  .img {
    height: 80%;
    max-width: 90%;
  }
  
  .close__cross {
    position: absolute;
    top: 1.2rem;
    right: 1.6rem  ;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--primary-color-code);
  }
  
  .left__arrow {
    position: absolute;
    left: 5vw;
    top: 50vh;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--primary-color-code);
  }
  
  .right__arrow {
    position: absolute;
    top: 50vh;
    right: 5vw;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--primary-color-code);
  }

  @media screen and (max-width: 1280px) {
    /* Image Visualizer */
    .img {
      height: 80%;
      width: 80%;
    }
  }

  @media screen and (max-width: 1070px) {
    .services__h2 {
      font-size: 1.9rem;
    }
  
    .parking__h3,
    .junk__h3,
    .graffiti__h3,
    .pressure__h3 {
      font-size: 1.6rem;
    }
  
    .parking__text, 
    .junk__text,
    .graffiti__text,
    .pressure__text { 
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 900px) {
    .gallery__container {
      width: 90%;
    }
  
    /* Image Visualizer */
    .img {
      min-width: 70%;
    }
  }

  @media screen and (max-width: 750px) {
    .gallery__container {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .gallery__item {
      justify-content: center;
    }
    
    .gallery__img {
      width: 25rem;
      height: 18.7rem;
    }

    /* Image Visualizer */
    .img {
      max-width: 90%;
    }
  }

  @media screen and (max-width: 550px) {
    .parking__h3,
    .junk__h3, 
    .graffiti__h3,
    .pressure__h3 {
      font-size: 1.5rem  ;
    }
    
    .parking__description,
    .junk__description,
    .graffiti__description,
    .pressure__description {
      width: 85%;
    }
    
    .parking__text,
    .junk__text,
    .graffiti__text,
    .pressure__text  {
      font-size: 1.1rem;
      padding: 2rem;
    }
    
    .gallery__img {
      width: 100%;
    }

    .img {
      max-width: 95%;
    }
  }
  
  @media screen and (max-width: 450px) {
    /* Image Visualizer */
    .img {
      max-height: 65%;
    }
  }
  
  @media screen and (max-width: 390px) {
    .parking,
    .junk,
    .graffiti,
    .pressure {
      padding: 1rem;
    }

    .parking__description,
    .junk__description,
    .graffiti__description,
    .pressure__description {
      width: 95%;
    }


    .parking__text,
    .junk__text, 
    .graffiti__text,
    .pressure__text {
      font-size: 1rem;
      padding: 1rem;
    }
  }

  @media screen and (max-width: 360px) {
    /* Image Visualizer */
    .img {
      max-height: 55%;
    }
  }

  @media screen and (max-width: 330px) {
    .services__h2 {
      font-size: 1.6rem  ;
    }
    
    .parking__h3,
    .junk__h3,
    .graffiti__h3,
    .pressure__h3 {
      font-size: 1.4rem  ;
    }
    
    .parking__text,
    .junk__text,
    .graffiti__text,
    .pressure__text {
      font-size: 0.9rem;
    }

    /* Image Visualizer */
    .img {
      max-height: 80%;
    }
  }