.home {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-color);
}

.home__container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  color: var(--white-color);
}

.h2 .b {
  color: var(--primary-color-code);
}

.home__text {
  font-size: 22px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 50px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 650px;
  }
  
  .more__img {
    width: 500px;
    border-radius: 15px;
  }
  
  .more__description {
    display: flex;
    align-items: center;
    width: 25%;
  }
  
  .more__text {
    font-size: 21px;
  }
  
  .more2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 650px;
    width: 100%;
    background-color: var(--black-color);
    overflow-x: hidden;
  }
  
  .more2__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 200px;
    text-align: center;
  }
  
  .more2__text {
    font-size: 21px;
    color: var(--white-color);
  }
  
  .btn__container {
    width: 250px;
    display: flex;
    justify-content: space-around;
  }
  
  .more2btn {
    border: 2px solid var(--primary-color-code);
    border-radius: 5px;
    background: none;
    color: var(--primary-color-code);
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in;
    font-size: 20px;
    cursor: pointer;
  }
  
  .more2btn:hover {
    background-color: var(--primary-color-code);
    color: var(--black-color);
  }

  @media screen and (max-width: 1070px) {
    .h2 {
      font-size: 30px;
    }
  
    .home__text {
      font-size: 18px;
    }
  
    .more__text {
      font-size: 18px;
      width: 80%;
    }
  
    .more2__text {
      font-size: 18px;
    }
  
    .more2btn {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 900px) {
    .more__img {
      width: 400px;
    }
  
    .more__text {
      width: 100%;
    }
  
    .more2__description {
      width: 30%;
    }
  }

  @media screen and (max-width: 750px) {
    .home__container {
      width: 50%;
    }
  
    .more {
      flex-direction: column;
      height: 700px;
    }
  
    .more__img {
      width: 400px;
    }
  
    .more__description {
      width: 60%;
    }
  
    .more2 {
      flex-direction: column;
      height: 700px;
    }
  
    .more2__description {
      width: 60%;
    }
  }

  @media screen and (max-width: 450px) {
    .home__container {
      width: 70%;
    }
  
    .more__img {
      width: 90%;
    }
  }

  @media screen and (max-width: 390px) {
    .h2 {
      font-size: 29px;
    }
  
    .more {
      height: 550px;
    }
  
    .home__text {
      font-size: 16px;
    }
  
    .more__text {
      font-size: 16px;
    }
  
    .more2 {
      height: 600px;
    }
  
    .more2__text {
      font-size: 16px;
    }
  
    .more2btn {
      padding: 7px;
      font-size: 16px;
    }
  }