.contact {
    height: calc(100vh - var(--header-size) - var(--footer-size));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black-color);
  }
  
  .contact__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 600;
    background-color: var(--black-color);
  }
  
  .contact__h2 .b {
    color: var(--primary-color-code);
  }
  
  .contact__container {
    width: 60%;
    height: 80%;
    border: 0.12rem solid var(--black-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 0.5rem;
  }
  
  .icon__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
  }
  
  .icon__box {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 0.9rem;
  }
  
  .icon__a {
    border-radius: 50%;
    border: 0.12rem solid var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact__icon {
    font-size: 1.9rem;
    padding: 0.6rem;
    margin: 0;
    color: var(--black-color);
    background-color: transparent;
  }
  
  .icon__span {
    margin-left: 0.6rem;
    font-size: 1rem  ;
    text-decoration: none;
  }

  /* Form */
  .form__container {
    width: 50rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3.1rem;
    grid-gap: 1.9rem;
  }
  
  .form__input {
    padding: 0;
    font-size: 0.9rem;
    outline: none;
    color: var(--black-color);
    border: none;
    border-bottom: 0.12rem solid var(--black-color);
    background-color: var(--white-color);
    transition: all 0.2s ease-in-out;
  }
  
  .form__input:focus {
    border: 0.12rem solid var(--primary-color-code);
  }
  
  .form__input--message {
    resize: none;
    padding: 0.2rem;
    font-size: 0.9rem;
    color: var(--black-color);
    border: none;
    border-bottom: 0.12rem solid var(--black-color);
    background-color: var(--white-color);
    transition: all 0.2s ease-in-out;
  }
  
  .form__input--message:focus {
    outline: none;
    border: 0.12rem solid var(--primary-color-code);
  }
  
  .form__submit {
    padding: 0;
    font-size: 0.9rem;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 0.12rem solid var(--black-color);
    transition: all 0.3s ease-in;
    cursor: pointer;
  }
  
  .form__submit:hover {
    background-color: var(--primary-color-code);
    color: var(--black-color);
    border: 0.12rem solid var(--primary-color-code);
  }
  
  .form .result {
    color: var(--black-color);
    text-align: center;
    font-size: 0.9rem;
  }
  
  /* Errors Text */
  .error {
    height: calc(100vh - var(--header-size) - var(--footer-size));
    width: 100%;
    text-align: center;
    color: var(--primary-color);
  }

  @media screen and (max-width: 1280px) {
    .contact__container {
      width: 70%;
    }
  }

  @media screen and (max-width: 1070px) {
    .contact__h2 {
      font-size: 2.1rem;
    }
  
    .contact__container {
      width: 80%;
    }
  
    .icon__span {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 900px) {
    .contact__container {
      height: 75%;
      width: 90%;
    }
  
    .icon__span {
      font-size: 0.9rem;
    }
  
    .form__input {
      font-size: 0.9rem;
    }
  
    .form__input--message {
      font-size: 0.9rem;
    }
  
    .form__submit {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 750px) {
    .contact__h2 {
      font-size: 2.1rem;
    }
  
    .contact__container {
      height: 85%;
    }
  
    .icon__container {
      width: 40%;
    }
  
    .icon__box {
      margin-bottom: 2.2rem;
    }
  
    .contact__icon {
      font-size: 1.6rem  ;
    }
  
    /* Form */
    .form__container {
      width: 60%;
    }
  
    .form {
      width: 70%;
    }
  
    .form__submit {
      padding: 0.12rem;
    }
  
    .form__icon {
      font-size: 1.6rem  ;
    }
  }

  @media screen and (max-width: 550px) {
    .contact__container {
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
  
    .icon__container {
      height: 30%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .icon__box {
      margin: 0;
      margin-left: 15%;
    }
  
    .contact__icon {
      font-size: 1.3rem;
    }
  
    /* Form */
    .form__container {
      height: auto;
      width: 100%;
    }
  
    .form {
      height: 100%;
      width: 75%;
    }
  
    .form__input {
      padding: 0.5rem 0.2rem;
    }
  
    .form__input--message {
      padding: 0 0.2rem;
    }
  
    .form__submit {
      padding: 0.44rem;
    }
  
    .form__icon {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 450px) {
    .contact {
      justify-content: space-evenly;
    }
  
    .contact__h2 {
      font-size: 1.9rem;
      height: 40px;
      margin: 0;
    }
  
    .contact__container {
      height: 36.2rem;
    }
  
    .icon__container {
      height: 9.4rem;
    }
  
    .contact__icon {
      font-size: 0.9rem;
    }
  
    .icon__span {
      font-size: 0.8rem;
    }
  
    /* Form */
    .form {
      padding: 0.6rem;
      height: 18.7rem;
      width: 80%;
    }
  
    .form__input {
      font-size: 0.8rem;
      padding: 0.5rem 0.2rem;
    }
  
    .form__input--message {
      padding: 0.3rem;
      font-size: 0.8rem;
    }
  
    .form__submit {
      padding: 0.3rem;
      font-size: 0.8rem;
    }
  
    .form__icon {
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 390px) {
    .contact__container {
      height: 30rem;
    }
  
    .icon__container {
      height: 8.1rem;
    }
  
    .icon__box {
      margin-left: 20%;
    }
  
    .contact__icon {
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  
    /* Form */
    .form {
      padding: 0.063rem;
      height: 17.5rem  ;
      width: 80%;
      grid-gap: 0.9rem;
    }
  
    .form__input {
      font-size: 0.75rem;
      padding: 0.2rem;
    }
  
    .form__input--message {
      padding: 0.2rem;
      font-size: 0.75rem;
    }
  
    .form__submit {
      padding: 0.063rem;
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 360px) {
    .contact__container {
      height: 27.5rem;
    }
  }

  @media screen and (max-width: 330px) {
    .contact__h2 {
      font-size: 1.6rem;
    }
  
    .contact__container {
      height: 18.7rem;
    }
  
    .icon__container {
      height: 5rem ;
    }
  
    .icon__box {
      width: 50%;
      margin-left: 26%;
    }
  
    .contact__icon {
      font-size: 0.7rem;
      padding: 0.3rem;
    }
  
    .icon__span {
      font-size: 0.7rem;
    }
  
    /* Form */
    .form__container {
      height: auto;
    }
  
    .form {
      padding: 0;
      height: 11.2rem;
      width: 80%;
      grid-gap: 0;
    }
  
    .form__input {
      font-size: 0.7rem;
      padding: 0;
      height: 1.2rem;
    }
  
    .form__input--message {
      padding: 0.12rem;
      font-size: 0.7rem;
      height: 1.9rem;
    }
  
    .form__submit {
      padding: 0;
      font-size: 0.7rem;
      height: 1.9rem;
    }
  
    .form__icon {
      font-size: 0.9rem;
    }
  }