@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color-code: #f4ae13;
  --white-color: #fafafa;
  --black-color: #0b0b0b;
  --header-size: 80px;
  --footer-size: 35px;
  --nav-position-control: unset;
}
